<%- include('partials/head'); %>
<main>
	<form class="photo upload" action="/upload" method="post" enctype="multipart/form-data">
		<div>
			<img id="upload_preview" src="../assets/img/placeholder.png" />
			<input type="file" name="photo" />
			<p id="upload_error"></p>
		</div>
		<div>
			<input type="text" name="caption" placeholder="Een beschrijving toevoegen..." />
			<input type="hidden" name="userid" value="<%= userid %>" />
			<input type="submit" value="Plaatsen" />
		</div>
	</form>
	
</main>
<script src="/assets/client_js/upload.js"></script>

<%- include('partials/foot'); %>