/* Browser reset
--------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block
}

body {
	line-height: 1;
}
 
ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* ------------------------------------------ */



/* Typography
--------------------------------------------- */

html {font-size: 0.938em;}

body {
  background-color: white;
  font-family: 'Source Sans Pro', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

a {
	color: #115688;
	text-decoration: none;
	font-weight: 600;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
	font-size: 2.827em;
	margin-bottom: -2rem;
}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

span.file {
	font-weight: 700;
}

em {
	display: block;
	padding: .5rem;
	border: 1px solid #333;
}

.no_acc {
	opacity: .7;
	font-style: italic;
	text-indent: 1rem;
}

/* ------------------------------------------ */



/* Main styles
--------------------------------------------- */

body { 
	background-color: #fafafa;
}

body > header {
	border-bottom: 1px solid #edeeee;
	padding: 1rem 1rem .8rem ;
	background-color: #fff;
}

body > header > div {
	display: block;
	max-width: 600px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

body > header > div > a > img {
	height: 1.8rem;
	display: block;
}

body > header nav ul li {
	display: inline-block;
	padding: 0 1rem;
	position: relative;
	text-align: center;
}

body > header nav ul li:hover ul li {
	display: block;
	left: 0;
}

body > header nav ul li ul li {
	display: none;
	position: absolute;
	margin: 0 auto;
	padding: .5rem;
	background-color: white;
	width: 100%;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 1px 0 0 #edeeee;
}

body > main {
	max-width: 600px;
	margin: auto;
}

.photo > header {
	padding: 1rem;
	display: flex;
}

.photo > header > img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid #cccfd0;
	vertical-align: baseline;
	margin-right: .5rem;
}

.photo > header > a {
	height: 28px;
	line-height: 28px;
	display: inline-block;
	vertical-align: middle;
}

.photo > main > img {
	width: 100%;
}

.photo > footer {
	padding: 1rem;
}

@media screen and (min-width: 600px) {
	.photo:first-child {
		margin-top: 4rem;
	}
	
	.photo {
		margin-bottom: 2rem;
		border-radius: 5px;
		border: 1px solid #edeeee;
		background-color: white;
	}
}

.photo form {
	margin-top: .5rem;
	padding-top: .5rem;
	border-top: 1px solid #edeeee;
}

.photo form input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	background-color: transparent;
}

.photo form input[type=text]:focus {
	outline: 0;
}

#shrug {
	font-size: 2rem;
	display: block;
	position: relative;
	margin: 40% auto;
	color: #edeeee;
}
/* ------------------------------------------ */



/* Page specific styles
--------------------------------------------- */

.upload div {
	width: 100%;
	position: relative;
	background-color: white;
}

.upload div img {
	width: 100%;
}

#upload_error {
	position: absolute;
	z-index: 100;
	color: red;
	bottom: 1rem;
	left: 1rem;
	
	display: none;
}

#upload_error.active {
	display: block;
}

.upload input[type="file"] {
	-webkit-appearance: none;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: red;
}

.upload input[type="file"]:hover {
	cursor: pointer;
}

.upload div:last-of-type {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
}

.upload div:last-of-type input[type=text]{
	flex-grow: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
	flex-basis: 100%;
}

.upload div:last-of-type input[type=text]:focus {
	outline: 0;
}

.upload div:last-of-type input[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #00477c;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	border-radius: 4px;
	padding: .5rem 1rem;
	border: none;
	border: 1px solid #00477c;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	transition: .2s ease;
	flex-basis: 100%;
	margin-top: 1rem;
}

.account main > div input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: white;
	border: 1px solid #edeeee;
	width: 96%;
	display: block;
	margin: 1rem auto;
	border-radius: 3px;
	font-size: 1rem;
	padding: 1rem;
}

.account main > div input[type="submit"] {
	border-color: #00477c;
	background-color: transparent;
	color: #00477c;
	cursor: pointer;
}

.account main > div p {
	text-align: center;
	margin-bottom: 1rem;
}

@-webkit-keyframes shake {
	0% {left: 0}
	25% {left: 1rem}
	50% {left: -1rem}
	75% {left: 1rem}
	100% {left: 0}
}

.account.error main div {
	position: relative;
	-webkit-animation: shake .3s linear;
}

@media screen and (min-width: 600px) {
	.account main > div:first-child {
		margin-top: 4rem;
	}
	
	.account main > div {
		margin-bottom: 2rem;
		border-radius: 5px;
		border: 1px solid #edeeee;
		background-color: white;
	}
}

.account.create main > div form > div {
	width: 96%;
	margin: 1rem auto;
	display: flex;
}

.account.create main > div form > div textarea {
	flex-grow: 1;
	margin-left: 1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: white;
	border: 1px solid #edeeee;
	border-radius: 3px;
	font-size: 1rem;
	padding: 1rem;
}

#profile_pic {
	overflow: hidden;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	position: relative;
}

#profile_pic img {
	width: 100%;
}

#profile_pic input {
	position: absolute;
	top: -1rem;
	left: 0;
	bottom: 0;
	font-size: 2rem;
	width: 100%;
	height: 100%;
	background-color: red;
	opacity: 0;
	cursor: pointer;
}


.user > main > header, .user > main > form {
	padding: 1rem;
	display: flex;
	align-items: center;
	margin: 1rem auto;
	flex-wrap: wrap;
	position: relative;
	top: 1rem;
}

@media screen and (min-width: 600px) {
	.user > main > header, .user > main > form {
		padding: 1rem 0;
	}
}

.user > main > header img, .user > main > form > div:first-of-type {
	border-radius: 50%;
	border: 2px solid #edeeee;
	width: 20%;
	margin-right: 1rem;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
}

.user > main > form > div:first-of-type img {
	width: 100%;
}

.user > main > form > div:first-of-type input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}


.user > main > header h1, .user > main > form h1 {
	font-size: 1.5rem;
	font-weight: 200;
}

.user > main > header p, .user > main > form p {
	font-size: .9rem;
	color: #6b6161;
}

.user > main > header .name, .user > main > form input[name="name"] {
	color: #4b4f54;
	font-weight: 600;
}

.user > main > header button, .user > main > form input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #4b4f54;
	color: #4b4f54;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight:300;
	background-color: transparent;
	border-radius: 3px;
	padding: .5rem 0;
	margin: 1rem auto;
	width: 100%;
	cursor: pointer;
}

.user > main > form div:last-of-type {
	flex-grow: 1;
}

.user > main > form input[type="text"] {
	width: 100%;
	font-size: .8rem;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #4b5054;
}

.user > main > main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.user > main > main > img {
	flex-shrink: 0;
	flex-basis: 30%;
	width: 30%;
	height: auto;
	margin-bottom: 2rem;
}

.hide {
	display: none !important; 
}

/* ------------------------------------------ */